<div class="w-100 header-bg">
  <div class="container">
    <nav class="navbar navbar-expand-lg pt-3">
      <a href="#" class="navbar-brand"
        ><img
          src="https://media-exp1.licdn.com/dms/image/C560BAQHMnA03XDdf3w/company-logo_200_200/0?e=2159024400&v=beta&t=C7KMOtnrJwGrMXmgIk2u1B8a7VRfgxMwXng9cdP9kZk"
          alt=""
          srcset=""
          class="img-fluid w-25"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggler="colapse"
        data-target="#navbarSupportedContent"
        arial-controls="navbarSupportedContent"
        arial-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link">Home</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
