<!-- <div class="border">
  <button class="" (click)="open(content)">
    <i id="myicon" class="fa fa-user">Add New Employee</i>
  </button>
</div> -->
<div class="divTable">
  <form #postForm="ngForm" (ngSubmit)="onAddEmployee(postForm.value)">
    <div class="divTableBody">
      <div class="divTableRow">
        <div class="divTableCell">ID</div>
        <div class="divTableCell">
          <input id="id" required ngModel name="id" />
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell">name</div>
        <div class="divTableCell">
          <input id="name" required ngModel name="name" />
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell">mail</div>
        <div class="divTableCell">
          <input id="city" required ngModel name="city" />
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">
      Add User
    </button>
  </form>
</div>
