<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-3">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group" *ngIf="!isLoginMode">
          <label for="name">Name</label>
          <input
            type="string"
            id="name"
            class="form-control"
            ngModel
            name="name"
            required
            email
          />
        </div>

        <div class="form-group">
          <label for="email">E-Mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
          />
        </div>
        <div class="form-group" *ngIf="!isLoginMode">
          <label for="city">city</label>
          <input
            type="string"
            id="city"
            class="form-control"
            ngModel
            name="city"
            required
            email
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? "Login" : "Sign Up" }}
          </button>
          |
          <button
            class="btn btn-primary"
            (click)="onSwitchMode()"
            type="button"
          >
            Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
