<p *ngIf="loadedPosts.length < 1">No post available</p>
<ul class="list-group" *ngIf="loadedPosts.length >= 1">
  <li class="list-group-item" *ngFor="let post of loadedPosts">
    <div class="divTable">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell"><label for="title">name</label></div>
          <div class="divTableCell"><label for="mail">mail</label></div>
          <div class="divTableCell"><label for="mail">city</label></div>
          <button class="btn btn-primary" (click)="onFetchPosts()">
            Update Employee
          </button>
        </div>
        <div class="divTableRow">
          <div class="divTableCell">{{ post.firstname }}</div>
          <div class="divTableCell">{{ post.firstname }}</div>
          <div class="divTableCell">{{ post.city }}</div>

          <button
            class="btn dlt btn-danger"
            [disabled]="loadedPosts.length < 1"
            (click)="onClearPosts()"
          >
            Delete Employee
          </button>
        </div>
      </div>
    </div>
  </li>
</ul>
